.background-body {
    background: linear-gradient(black, rgb(31, 30, 52));
    min-height: 100vh;
}

.div1, .div3, .div4 {
    min-height: 100vh;
}

.div2{
    height: 100%;
}

.hello {
    font-size: 115px !important;
    color: rgb(85, 85, 135);
}


.rotar-img{
    animation: grow 7s ease-in-out infinite;
}

@keyframes grow {
    0% {
      transform: scale(1); /* Empieza en el tamaño original */
    }
    50% {
      transform: scale(1.1); /* Agranda la imagen al 120% */
    }
    100% {
      transform: scale(1); /* Vuelve al tamaño original */
    }
  }

.quien-soy, .title-formacion, .title-experiencia, .title-proyectos {
    color: rgb(85, 85, 135);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-datos:hover {
    scale: 1.2 !important;
}

.imagenCV {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%); 
}

.card-foot, .card-footer {
    background-color: rgb(25, 25, 25) !important;
}

.card-img-top:hover {
    opacity: 100% !important;
}

.card-experience {
    background-color: rgb(29, 28, 28) !important;
    box-shadow: 4px 4px 10px 3px;
}

@media (max-width: 500px) {
    .hello {
      font-size: 90px !important;
    }
    .p-responsive {
        font-size: 19px !important;
    }
    .p-responsive2 {
        font-size: 16px !important;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .p-responsive2 {
      font-size: 20px !important;
    }
}

@media (width <= 767px) {
    h5 {
        font-size: 16px !important;
    }

    .fontp {
        font-size: 15px;
    }

    .card-experience {
        width: 17rem !important;
    }
}
